nav {
    height: 60px;
    background-color: var(--primary);

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        text-decoration: none;
        list-style-type: none;
        color: var(--white);
        cursor: pointer;
        
        li a{
            padding: 12px;
            border-radius: 6px;
        }

        .logout:hover {
            background-color: var(--danger) !important;
        }

        li a:hover {
            background-color: #4273db;
        }
    }
}