<div class="login">
    <div class="login-content">
        <section class="login-header">
            <h1>
                Welcome,
                <span>User</span>
            </h1>
        </section>
        <form class="login-body">
            <input type="text" name="username" [(ngModel)]="username" class="input-form" aria-label="type your username" placeholder="Username">
            <input type="text" name="password" [(ngModel)]="password" class="input-form" aria-label="Type your password" placeholder="Password">

            <button type="button" title="Enter" (click)="login()">Enter</button>
            <a>Don't have an account? <span>Sign In</span></a>
        </form>
    </div>
</div>
