<div class="login">
    <div class="login-content">
        <section class="login-header">
            <h1>
                Bem-vindo
            </h1>
        </section>
        <form class="login-body">
            <input type="text" name="username" [(ngModel)]="username" class="input-form" aria-label="Escreva seu e-mail ou usuário" placeholder="Nome de usuário ou E-mail">
            <input type="text" name="password" [(ngModel)]="password" class="input-form" aria-label="Escreva a sua senha" placeholder="Senha">

            <button type="button" title="Enter" (click)="login()">Entrar</button>
            <a>Não tem conta? <span (click)="redirect('register')">Cadastre-se</span></a>
        </form>
    </div>
</div>
