<div class="login">
    <div class="login-content">
        <section class="login-header">
            <h1>
                Registrar
            </h1>
        </section>
        <form class="login-body">
            <input type="text" name="email" [(ngModel)]="email" class="input-form" aria-label="Escreva o seu e-mail" placeholder="E-mail">
            <input type="text" name="username" class="input-form" [(ngModel)]="username" aria-label="Escreva seu e-mail ou usuário" placeholder="Nome de usuário">
            <input type="text" name="password" class="input-form" [(ngModel)]="password" aria-label="Escreva a sua senha" placeholder="Senha">

            <button type="button" title="Enter" (click)="register()" 
                >Registrar</button>
            <a>Já possui conta? <span (click)="redirect('')">Entrar</span></a>
        </form>
    </div>
</div>
