:root {
    --primary: #0095f6;
    --secondary: #06c595;
    --danger: #e2504c;
    --white: #f0f0f0;
    --grey: #9c9999;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.input-form {
    border: 1px solid #b6b1b1;
    width: 93%;
    padding: 12px 10px;
    border-radius: 3px;
    font-size: 1em;
    background-color: var(--white);
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
